.centered-values {
    text-align: center;
    font-size: 30px;
    padding: 4rem 2rem;
    margin-left: 50px;
    margin-right: 50px;
  }
  .value-links {
    margin-top: 1rem;
  }
  .primary-link {
    color: #1245a8;
    margin: 0 1rem;
  }
  .secondary-link {
    color: #121212;
    margin: 0 1rem;
  }
  .primary-link:hover,
  .secondary-link:hover {
    text-decoration: underline;
    font-weight: bold;
  }
  