<section id="bio" class="glassmorphic-card">
  <div id="img-wrapper">
    <img src="{{site.data.author.dp}}" alt="Author Image" class="profile-pic" />
  </div>
  <div id="bio-wrapper">
    <p class="bio-text">{{site.data.author.description}}</p>
    <div id="social-wrapper">
      {% for i in site.data.author.contact %}
      <a href="{{i.url}}" target="_blank" class="social-link">
        <img src="{{site.baseurl}}/assets/icons/{{i.title}}.png" alt="{{i.title}}" class="social-icon" />
      </a>
      {% endfor %}
    </div>
  </div>
</section>