<footer class="footer">
  <div class="footer-top">
    <div class="footer-logo">
      <img src="{{ '/images/logos/Logo-JPG.jpg' | relative_url }}" width="120px" alt="Logo" />
    </div>

    <div class="footer-columns">
      <div class="footer-col">
        <h4>Firm</h4>
        <a href="{{ '/about' | relative_url }}"><p>About</p></a>
        <a href="{{ '/about#insights' | relative_url }}"><p>Insights</p></a>
      </div>

      <div class="footer-col">
        <h4>Expertise</h4>
        <p>Feasibility Studies/ Facility Assessments</p>
        <p>Architectural and Interior Design</p>
        <p>Zoning Amendment / Site Plan Approvals / Building Permit</p>
        <p>Structural and MEP Engineering supports</p>
        <p>Bidding and Contract negotiations</p>
        <p>Project Contract Administration and Construction Management</p>
      </div>

      <div class="footer-col">
        <h4>Projects</h4>
        <p>Custom Residence</p>
        <p>Duplex, Triplex and Fourplex</p>
        <p>Laneway / Garden suites</p>
        <p>Low-Mid Rise Condominium</p>
        <p>Industrial Buildings</p>
        <p>Commercial Buildings</p>
        <p>Restaurant and Cafes</p>
        <p>Institutional / Healthcare / Hospitality</p>
      </div>

      <div class="footer-col">
        <h4>Connect</h4>
        <p>Contact Us</p>
        <p>Facebook</p>
        <p>LinkedIn</p>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved. As an employer conscious about equality and diversity, we welcome all applicants regardless of personal traits protected under law.</p>
  </div>
</footer>
