<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <main>
      <code class="code-container" content="// Based on Jane's design">
  <div class="glow-container">
    <div class="augs" data-augmented-ui></div>
  </div>
  <section class="augs bg" data-augmented-ui>
    <button class="dots" onclick="changeMode()" title="change mode"></button>
    <input value="propjockey.io">
    <div class="code highcontrast-dark">
      <div id="code">
      {% include header.html %} {% include bio.html %}
      <section class="articles">
        {% for post in site.posts %}
        <article class="article">
          <h2 class="article-title">
            <a href="{{site.baseurl}}{{post.url}}"> {{post.title}} </a>
          </h2>
          <small class="date">{{post.date | date_to_string}}</small>
          <div class="categories">
            {% for c in post.categories %}
            <a href="#!" data-base-url="{{site.baseurl}}" class="category"
              >{{c}}</a
            >
            {% endfor %}
          </div>
        </article>
        {%endfor%}
      </section>
      {% include footer.html %}
      </div>
  </section>
</div>
    </main>
    {% include category-modal.html%}
  </body>
</html>
